{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<section class="row">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show mx-auto col-10 offset-1" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    {% for article in articles %}
        <article class="col-12 col-md-6 mt-4">
            <h2 class="text-center">{{ article.title }}</h2>
            <a href="{{ path('blog_edit', {'id': article.id}) }}" class="btn btn-link btn-sm">Edit <i class="far fa-edit"></i></a>
            <p class="m-0 small text-muted float-right">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</p>
            <div>
                <a href="{{ path('blog_show', {'id': article.id}) }}">
                    <img src="{{ article.image }}" class="img-fluid" alt="Responsive image">
                </a>
            </div>
            <p class="text-justify">{{ article.content|truncate(180) }}</p>
            <div class="row mb-1">
                <div class="col-4">
                    <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-success">En savoir plus</a>
                </div>
                <div class="col-5 offset-3">
                    <a href="{{ path('cart_add', {'id': article.id}) }}" class="btn btn-primary btn-block">Acheter pour {{ article.price }}€</a>
                </div>
            </div>
            
        </article>
    {% endfor %}
</section>
{% endblock %}
