{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <table class="table table-stripped">
        <thead>
            <th>Nomination</th>
            <th>Extrait</th>
            <th>Quantité</th>
            <th>Prix TTC</th>
            <th>Tous <a class="text-danger" href="{{ path('cart_delete_all') }}"><i class="far fa-trash-alt"></i></a></th>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{item.article.title}}</td>
                    <td>{{item.article.content|textTruncate()}}</td>
                    <td>{{item.qty}}</td>
                    <td>{{item.article.price * item.qty}}€</td>
                    <td><a class="text-danger" href="{{ path('cart_delete', {'id': item.article.id}) }}"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total}}€</th>
            <th></th>
        </tfoot>
    </table>

{% endblock %}
